body {
  background: #f0f9ff;
  color: black;
  font-family: Verdana, Charcoal, Geneva, "Luxi Sans", sans-serif;
  font-size: 12px;
  margin-top: 0;
  margin-left: 0;
}

table {
  border: 1px solid #000000;
}

th, td {
  font-family: Verdana, Charcoal, Geneva, "Luxi Sans", sans-serif;
  font-size: 12px;
  padding: 1px;
  border: 1px solid #000000;
}

a {
  text-decoration: none;
  color: #0000a9;
}

a:hover {
  text-decoration: none;
  background: #e9e9e9;
}

.ie a {
  text-decoration: underline;
  color: blue;
}

#bandeau {
  background: white;
  margin: 5px 5px 10px 5px;
  height: 50px;
  border: 1px solid #f9ffff;
}

#logo_gauche {
  float: left;
  margin-left: 5%;
  width: 200px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: left center;
}

#logo_milieu {
  text-align: center;
  font-weight: bold;
  font-size: 125%;
  color: #707070;
  /*  display: table-cell;
  vertical-align: middle;*/
}

#logo_droite {
  float: right;
  margin-right: 5%;
  width: 200px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: right center;
}

/* colonne de gauche, servant a la navigation */
#navigation {
  margin: 0 0 0 5px;
  float: left;
  width: 200px;
}

/* marqueur de statistiques */
#marqueurStats {
  margin: 10px 5px 0 5px;
  float: right;
}

/* colonnes principales */
.principal {
  background: white;
  padding: 5px;
  margin: 10px 5px 5px 215px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ol {
  margin: 0px;
  padding: 0px;
  list-style-position: inside;
}

li {
  padding-left: 20px;
}

/* formattage du menu dans la colonne de gauche */
.menu {
  background: white;
  border: 1px solid #b9b9b9;
  margin-bottom: 16px;
  text-align: left;
  font-size: 90%;
  padding: 3px;
}

.menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* titre de menu */
.menu-titre {
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

/* élement de menu hors titre de rubrique */
.menu-item {
  text-align: left;
}

.menu-item-centre {
  text-align: center;
}

/* menu-item-0 à 3 : formatage des titres de rubrique */
.menu-item-0 {
  font-weight: bold;
  padding-left: 0px;
  margin-top: 5px;
}

.menu-item-1 {
  font-weight: bold;
  padding-left: 10px;
  margin-top: 3px;
}

.menu-item-2 {
  padding-left: 20px;
}

.menu-item-3 {
  font-size: 95%;
  padding-left: 30px;
}

/* élement (ou titre) de menu selectionné */
.menu-selected {
  background: #d9ffd9;
}

/* sommaire-0 à 3 : formatage des éléments du sommaire */
.sommaire-0 {
  font-weight: bold;
  padding-left: 0px;
}

.sommaire-1 {
  font-weight: normal;
  padding-left: 10px;
}

.sommaire-2 {
  font-weight: normal;
  padding-left: 20px;
}

.sommaire-3 {
  font-weight: normal;
  padding-left: 30px;
}

/* police spéciale pour les dates */
.date {
  font-style: italic;
  font-size: 80%;
}

.texte {
 text-align: justify;
}

.sous-titre {
  font-style: italic;
}
